<header id="header">
  <section>
    <div id="image-nav">
      <a routerLink="/" routerLinkActive="active-link">
        <img src="../../../assets/images/oldNetflixLogo.png" alt="logo">
      </a>
    </div>
    <div id="menu">
      <app-genero></app-genero>
      <a mat-button routerLink="movies/estrenos" routerLinkActive="active-link">
        POPULARES
      </a>
    </div>
    <div class="login" *ngIf="userService.isInSesion()">
      <a mat-button routerLink="" routerLinkActive="active-link">
      PERFIL DE <span style="color:grey"></span>
      </a>
      <!--      <button mat-button>LOGOUT</button>-->
      <app-logout></app-logout>
    </div>
    <div class="login" *ngIf="!userService.isInSesion()">
      <a mat-button href="/users/login" routerLinkActive="active-link">
        LOGIN
      </a>
      |
      <a mat-button href="/users/login" routerLinkActive="active-link">
        REGISTRO
      </a>
    </div>
  </section>
  <app-buscador></app-buscador>
</header>
