<section class="seccion-peliAll"
         fxLayout.xs="column" fxLayoutAlign.xs="space-around center"
>
  <mat-card class="example-card" *ngFor="let pelicula of peliculas"
            [ngStyle.xs]="{'width.%': 80, margin:'2%'}"
            [ngStyle.sm]="{'width.%': 40, margin:'1%'}"
            [ngStyle.md]="{'width.%': 26, margin:'1%'}"
            [ngStyle.lg]="{'width.%': 20, margin:'1%'}"
            [ngStyle.xl]="{'width.%': 20, margin:'1%'}"
  >
    <mat-card-header>
<!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{pelicula.title}}</mat-card-title>
      <mat-card-subtitle>Popularidad: {{pelicula.popularity}}</mat-card-subtitle>
      <span matBadge="{{pelicula.vote_average}}" matBadgeOverlap="false"></span>
    </mat-card-header>
    <mat-tab-group>
      <mat-tab label="Portada"> <img mat-card-image src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}" alt="poster"> </mat-tab>
      <mat-tab label="Sinopsis">
        <h6>SINOPSIS:</h6>
        {{pelicula.overview}}

      </mat-tab>
    </mat-tab-group>


    <mat-card-actions>
      <a mat-raised-button routerLink="{{pelicula.id}}" routeractive="active-link">ALQUILAR</a>
    </mat-card-actions>
  </mat-card>
</section>



