<!--<mat-grid-list cols="1" rowHeight="1:1" *ngIf="movie">-->
<!--  <mat-grid-tile style="background:deeppink">-->
    <section *ngIf="movie">
      <h1 >"{{movie[0]?.title}}"</h1>
      <article id="art_1">
        <img mat-card-image src="https://image.tmdb.org/t/p/w200/{{movie[0]?.poster_path}}" alt="poster">
      </article>
      <article id="art_2" >
        <p>TÍTULO ORIGINAL: <br>  <span class="datos">"{{movie[0].original_title}}"</span></p>
        <p>IDIOMA ORIGINAL: <br>  <span class="datos">{{movie[0].original_language}}</span></p>
        <p>POPULARIDAD: <br> <span class="datos">{{movie[0].popularity}}</span></p>
        <p>VOTOS: <br> <span class="datos">{{movie[0].vote_count}}</span></p>

        <p>DESCRIPCIÓN: <br> <span class="datos">{{movie[0].overview}}</span></p>
      </article>
      <article id="art_3" *ngIf="this.userService.isInSesion()">
        <h3 class="shadow">5 días de alquiler para cualquier película</h3>
        <div *ngIf="mensaje">
        <span class="aviso" >{{mensaje}}</span>
        </div>
        <button mat-raised-button (click)="alquilar()">ALQUILAR</button>
      </article>
      <article id="no_reg" class="shadow" *ngIf="!this.userService.isInSesion()">
        <h4>DEBES ESTAR REGISTRADO PARA PODER ALQUILAR UNA PELÍCULA</h4>
      </article>
    </section>
