<!--<p>login works!</p>-->
<form (submit)="login()" #form="ngForm">
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Username"
      required
      #username
      [(ngModel)]="user.username"
      name="Username">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput
           type="password"
           placeholder="Password"
           #password
           [(ngModel)]="user.password"
           name="Password">
  </mat-form-field>
  <button mat-raised-button>Login</button>

</form>
{{res?.message}}
