<form (submit)="getTitleAndOverview()" #form="ngForm">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Búsqueda
      </mat-panel-title>
      <mat-panel-description>
        <button mat-raised-button>BUSCAR...</button>
        <p [class]="ocult" ></p>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="busqueda" [(ngModel)]="titleSearch" name="buscador">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
</form>
