<main
style="width:90%; margin:0 auto"
>
  <section class="seccion-peliAll"
           style="display:flex; justify-content:flex-start;flex-wrap: wrap"
           fxLayout.xs="column" fxLayoutAlign.xs="space-around center"
  >
    <mat-card class="example-card" *ngFor="let pelicula of data"
              [ngStyle.xs]="{'width.%': 80, margin:'2%'}"
              [ngStyle.sm]="{'width.%': 40, margin:'1%'}"
              [ngStyle.md]="{'width.%': 26, margin:'1%'}"
              [ngStyle.lg]="{'width.%': 20, margin:'1%'}"
              [ngStyle.xl]="{'width.%': 20, margin:'1%'}"
    >
      <mat-card-header
<!--        [ngStyle.xs]="{'height.%': 30, color: 'red'}"-->
<!--        [ngStyle.sm]="{'height.%': 20, color: 'blue'}"-->
<!--        [ngStyle.md]="{'height.%': 20, color: 'orange'}"-->
<!--        [ngStyle.lg]="{'height.%': 10, color: 'green'}"-->
<!--        [ngStyle.xl]="{'height.%': 10, color: 'greenyellow'}"-->
      >
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{pelicula.title}}</mat-card-title>
        <mat-card-subtitle>Popularidad: {{pelicula.popularity}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://image.tmdb.org/t/p/w200/{{pelicula.poster_path}}" alt="poster">
      <!--    <mat-card-content>-->
      <!--      <p>-->
      <!--        {{pelicula.overview}}-->
      <!--      </p>-->
      <!--    </mat-card-content>-->
      <mat-card-actions>
        <button mat-button>ALQUILAR</button>
        <button mat-button>{{pelicula.vote_average}}</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cerrar</button>
    <!--  <button mat-button  cdkFocusInitial>Ok</button>-->
  </div>
</main>
